<div class="header">


  <ul class="header_list">
    <li>
      <app-user-info></app-user-info>
    </li>
  </ul>
  <div><H6>MEDIA</H6></div>
  <ul class="header_list">
    <li><a [routerLink]="['movies']" [queryParams]="{page:1}">Movies</a></li>
    <li><a [routerLink]="['tv-shows']">TV Shows</a></li>
    <li><a [routerLink]="['music']">Music</a></li>
    <li><a [routerLink]="['audiobooks']">Audiobooks</a></li>
    <li><a [routerLink]="['games']">Games</a></li>
    <li><a [routerLink]="['apps']">Apps</a></li>
    <li><a [routerLink]="['updates']">Updates</a></li>
  </ul>
  <div><H6>ACCOUNT</H6></div>
  <ul class="header_list">
    <li><a [routerLink]="['userPage']">User profile</a></li>
    <li>
      <app-material-switch></app-material-switch>
    </li>
  </ul>
</div>
