

.header{
  margin:20px 0 0 0;
  color: var(--fontColor)
}

.header_list>li>a {
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 250, 250, 0.9);
  user-select: none;
  cursor: pointer;
}

.header_list>li {
  padding: 15px 0 15px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 30px;
  width: 200px;
  transition: 0.15s ease;
}
.header_list>li:hover{
  background: rgba(255, 250, 250, 0.1);
}

.header>div>h6{
  padding: 15px 0 15px 40px;
  user-select: none;
  font-size: 10px;
  color: rgba(255,255,255,30%);
}
