@import '~ngx-bar-rating/themes/br-default-theme.scss';

.movieDetails{
  opacity: 0;
  display: flex;
  gap: 20px;
  padding: 40px;
  transition: 1s;
}
.movieDetails{
  opacity:100;
}

.movieInfo_container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movieTitle{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.movieId{
  font-size: 10px;
  opacity: 20%;
}
.lang{
  text-transform: uppercase;
}
.genre_container{
  border-radius: 5px;
  padding: 10px;
  background: #c7c7c7;
  opacity: 50%;
  align-items: center;
  display: flex;
  gap: 10px;
}
.movieGenre>h6{
  padding: 5px;
  display: inline-block;
  text-align: center;
  background: #e5e5e5;
}

.rating{
  font-size: 20px;
  font-weight: bold;
}
