.movieCard{
  width: 225px;
  height: 350px;
  display: flex;
  gap: 10px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  transition: 0.1s ;
  user-select: none;
}
.imagePoster{
  opacity: 50%;
  transition: opacity 0.1s;
}

.imagePoster:hover{
  opacity: 100%;
}

