.userContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.iconRound{
  display: flex;
  align-items: center;
  justify-content: center;
  width:25px;
  height:25px;
  border-radius: 50%;
}
